#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",       "DexCorral"
            VALUE "FileDescription",   "DexCorral Desktop Organizer"
            VALUE "FileVersion",       "0.1.0.0"
            VALUE "InternalName",      "DexCorralHook"
            VALUE "LegalCopyright",    "Copyright (C) 2026 Gunter Heiss"
            VALUE "OriginalFilename",  "DexCorralHook.dll"
            VALUE "ProductName",       "DexCorral"
            VALUE "ProductVersion",    "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
